force-app/main/default/flows/Case_AfterSave_NotifyOnHighPriority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>After a Case is inserted with Priority = High, sends an email alert to the Case Owner&apos;s manager queue. Triggered by CaseTrigger via the after-insert path. MKT-REQ-SRVC-008.</description>
    <environments>Default</environments>
    <interviewLabel>Case AfterSave NotifyOnHighPriority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case AfterSave NotifyOnHighPriority</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_High_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Priority</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <decisions>
        <description>Confirms Priority is High before sending notification.</description>
        <name>Check_High_Priority</name>
        <label>High Priority?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Not High Priority</defaultConnectorLabel>
        <rules>
            <name>Is_High_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_High_Priority_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <actionCalls>
        <description>Sends a Chatter post to the Case record notifying stakeholders of a high-priority case.</description>
        <name>Send_High_Priority_Alert</name>
        <label>Post High Priority Alert</label>
        <locationX>44</locationX>
        <locationY>278</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>⚠️ High Priority Case Created: {!$Record.CaseNumber} — {!$Record.Subject}. Please review immediately.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <status>Active</status>
</Flow>
